{% extends 'main/base.html' %}

{% load static %}

{% block title %} Attendance {% endblock %}


{% block body %}

<section class="text-with-img row">
    <div class="col-6 d-flex justify-content-end align-items-center">
      <img src="{% static 'main/images/attendance.png' %}" alt="student" class="illustrator-img">
    </div>
    <div class="col-6 d-flex justify-content-start align-items-center">
      <div class="text-dark p-4 rounded illustrator-details shadow">
        <h4 class="mb-4">Register Class Attendance</h4>
        <p><b>Batch no:</b> {{batch_no}}</p>
        <p><b>Semester no:</b> {{semester_no}}</p>
        <p><b>Course Code:</b> {{course_code}}</p>
      </div>
    </div>
</section>

<section class="mb-5">
    <div class="d-flex justify-content-center">
        <form action="" method="POST"> {% csrf_token %}
            <div class="form-group bg-dark text-white m-5 p-5 d-flex justify-content-around">
                <label for=""><b>This class is equal to: </b></label> 
                <input type="number" name="equal_to" class="col-4" required> 
            </div>
            <table class="table table-hover bg-light">
                <thead>
                    <tr class="text-center">
                        <th>Registration</th>
                        <th>Name</th>
                        <th>Present</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr class="text-center">
                            <td>{{student.reg_no}}</td>
                            <td>{{student.name}}</td>
                            <td>
                                <input type="checkbox" name={{student.reg_no}} class="form-control" value=True>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}




{% block js %}
<!-- **This js code section should be used in all pages that has a form in it** -->
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
<!-- **** -->
{% endblock %}