{% extends 'main/base.html' %}

{% load static %}

{% block title %} {{course.course_code}} ({{course.batch_no}}) {% endblock %}

{% block css %}

.illustrator-img 
{
  height: 450px;
}

.illustrator-details 
{
  background-color: #92e3a9;
}

.illustrator-details > p 
{
  font-size: 20px;
  line-height: 18px;
}

{% endblock %}

{% block body %}

<section class="text-with-img row">
  <div class="col-6 d-flex justify-content-end align-items-center">
    <img src="{% static 'main/images/student1.png' %}" alt="student" class="illustrator-img">
  </div>
  <div class="col-6 d-flex justify-content-start align-items-center">
    <div class="text-dark p-4 rounded illustrator-details shadow">
      <p><b>Batch no:</b> {{course.batch_no}}</p>
      <p><b>Semester no:</b> {{course.semester_no}}</p>
      <p><b>Course Title:</b> {{course.course_title}}</p>
      <p><b>Course Code:</b> {{course.course_code}}</p>
      <p><b>Credits:</b> {{course.course_credits}}</p>
      <p><b>Course Type:</b> {{course.course_type}}</p>
      <p><b>Course Teacher:</b> {{course.course_teacher}}</p>
    </div>
  </div>
</section>

{% if course.course_type == "Theory" %}
<section class="mx-2 my-5 p-5">
    <div class="d-flex justify-content-center mb-4">
      <h4 class="bg-primary text-center text-white p-3 rounded">Course Results</h4>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Reg</th>
            <th scope="col">Part A decode</th>
            <th scope="col">Part A marks</th>
            <th scope="col">Part B decode</th>
            <th scope="col">Part B marks</th>
            <th scope="col">Assessment</th>
            <th scope="col">Total marks</th>
            <th scope="col">GP</th>
            <th scope="col">LG</th>
          </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{result.reg_no}}</td>
                <td>{{result.part_a_decode}}</td>
                <td>{{result.part_a_marks}}</td>
                <td>{{result.part_b_decode}}</td>
                <td>{{result.part_a_marks}}</td>
                <td>{{result.assessment_marks}}</td>
                <td>{{result.total_marks}}</td>
                <td>{{result.GP}}</td>
                <td>{{result.LG}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

      {% if request.user.is_superuser %}
      <form method="post" class="w-25 bg-light border border-primary p-3"> {% csrf_token %}  
        <h6>Add new record</h6>
        <div class="form-group">
            <label class="form-label">Reg no</label>
            <input type="text" name="reg_no"> <br>
            <label class="form-label">Part A decode</label>
            <input type="text" name="part_a_decode"> <br>
            <label class="form-label">Part A marks</label>
            <input type="number" name="part_a_marks"> <br>
            <label class="form-label">Part B decode</label>
            <input type="text" name="part_b_decode"> <br>
            <label class="form-label">Part B marks</label>
            <input type="number" name="part_b_marks"> <br>
            <label class="form-label">Assessment marks</label>
            <input type="number" name="assessment_marks"> <br>
            <label class="form-label">Total marks</label>
            <input type="number" name="total_marks"> <br>
            <label class="form-label">GP</label>
            <input type="text" name="GP"> <br>
            <label class="form-label">LG</label>
            <input type="text" name="LG"> <br>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    {% endif %}

</section>
{% elif course.course_type == "Sessional" %}
<section class="mx-2 my-5">
    <h4>Course Results:</h4>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Reg</th>
            <th scope="col">Lab marks</th>
            <th scope="col">Assessment marks</th>
            <th scope="col">Total marks</th>
            <th scope="col">GP</th>
            <th scope="col">LG</th>
          </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{result.reg_no}}</td>
                <td>{{result.lab_marks}}</td>
                <td>{{result.assessment_marks}}</td>
                <td>{{result.total_marks}}</td>
                <td>{{result.GP}}</td>
                <td>{{result.LG}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      {% if request.user.is_superuser %}
      <form method="post" class="w-25 bg-light border border-primary p-3"> {% csrf_token %}  
        <h6>Add new record</h6>
        <div class="form-group">
            <label class="form-label">Reg no</label>
            <input type="text" name="reg_no"> <br>
            <label class="form-label">Lab marks</label>
            <input type="text" name="lab_marks"> <br>
            <label class="form-label">Assessment marks</label>
            <input type="number" name="assessment_marks"> <br>
            <label class="form-label">Total marks</label>
            <input type="number" name="total_marks"> <br>
            <label class="form-label">GP</label>
            <input type="text" name="GP"> <br>
            <label class="form-label">LG</label>
            <input type="text" name="LG"> <br>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    {% endif %}

</section>
{% endif %}


{% endblock %}