{% extends 'main/base.html' %}

{% load static %}

{% block title %} {{semester_no}} ({{batch_no}}) {% endblock %}

{% block css %}
{% endblock %}

{% block body %}

<!-- illustrator and details -->
<section class="text-with-img row">
  <div class="col-6 d-flex justify-content-end align-items-center">
    <div class="text-dark p-4 rounded illustrator-details shadow w-50 h-50 d-flex justify-content-center align-items-center">
      <div>
        <h4><b>Batch no:</b> {{batch_no}}</h4>
        <h4><b>Semester no:</b> {{semester_no}}</h4>
      </div>
    </div>
  </div>
  <div class="col-6 d-flex justify-content-start align-items-center">
    <img src="{% static 'main/images/teaching1.png' %}" alt="student" class="illustrator-img">
  </div>
</section>


<!-- courses list -->
<section class="m-4 p-3">
  <div class="d-flex justify-content-center mt-5 mb-3">
    <h4 class="bg-primary text-center text-white p-3 rounded-pill col-2">Courses</h4>
  </div>

  {% if request.user.is_superuser %}
    <div class="d-flex justify-content-start">
      <!-- add new course modal trigger -->
      <img src="{% static 'main/images/plus.png' %}" alt="add-record" class="plus-btn mb-2" type="button" data-toggle="modal" data-target="#AddCourseModal">
    </div>
  {% endif %}

  <section class="row row-cols-4 px-5 py-3 d-flex">
      {% for course in courses %}
      <div class="card course-card m-2 float-left shadow">
        <div class="card-body">
            <h4 class="card-title text-primary">{{course.course_title}}</h4>
            <h5 class="card-title">Course code: {{course.course_code}}</h5>
            <h5 class="card-title">Credits: {{course.course_credits}}</h5>
            <h5 class="card-title">Teacher: {{course.course_teacher}}</h5>
        </div>
        <div class="d-flex justify-content-center pb-3">
          <div>
            <a class="mx-2" href="/main/courses/{{batch_no}}/{{semester_no}}/{{course.course_type}}/{{course.course_code}}">
              <img src="{% static 'main/images/play-button.png' %}" alt="edit" class="card-icon" type="button">
            </a>
          </div>
          {% if request.user.is_superuser %}
          <div class="mx-2">
            <a href="/main/update_course/{{batch_no}}/{{semester_no}}/{{course.course_code}}">
              <img src="{% static 'main/images/edit.png' %}" alt="edit" class="card-icon" type="button">
            </a>
          </div>
          <div class="mx-2">
            <img src="{% static 'main/images/delete1.png' %}" alt="delete" class="card-icon" type="button" data-toggle="modal" data-target="#">
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
  </section>
</section>



<!-- {% if request.user.is_superuser %}
    <form method="post" class="w-25 bg-light border border-primary p-3"> {% csrf_token %}  
        <h6>Add new course</h6>
        <div class="form-group">
            <label class="form-label">Course title</label>
            <input type="text" name="course_title"> <br>
            <label class="form-label">Course code</label>
            <input type="text" name="course_code"> <br>
            <label class="form-label">Course type</label>
            <input type="text" name="course_type"> <br>
            <label class="form-label">Credits</label>
            <input type="text" name="course_credits"> <br>
            <label class="form-label">Course teacher</label>
            <input type="text" name="course_teacher"> <br>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    {% endif %} -->



<!-- Tabulation Sheet -->
<section class="m-2">
  <div class="d-flex justify-content-center mt-5 mb-3">
    <h4 class="bg-primary text-center text-white p-3 rounded-pill col-2">Tabulation Sheet</h4>
  </div>

  {% if request.user.is_superuser %}
    <div class="d-flex justify-content-end mb-2">
      <!-- File upload -->
      <a href="#" type="button">
        <img src="{% static 'main/images/choose.png' %}" alt="choose-file" class="card-icon mx-3" > 
      </a>
      <a href="#" type="button">
        <img src="{% static 'main/images/upload.png' %}" alt="upload-file" class="card-icon mx-3" > 
      </a>
      <a href="#" type="button">
        <img src="{% static 'main/images/download.png' %}" alt="download-file" class="card-icon mx-3" > 
      </a>
    </div>
  {% endif %}

  <table class="table table-bordered bg-light" style="max-width: 100vw">
    <thead>
      <tr class="text-center">
          <th scope="col" rowspan="2">Reg no</th>
          <th scope="col" rowspan="2">Student Name</th>
          {% for course in courses %}
              <th scope="col" colspan="2">{{course.course_code}} <br> ({{course.course_credits}})</th>
          {% endfor %}
          <th scope="col" colspan="3">Semester: {{semester_no}}</th>
          {% if semester_no > 1 %}
              <th scope="col" colspan="3">Semester: 1 to {{semester_no}}</th>
          {% endif %}
      </tr>
      <tr class="text-center">
          {% for course in courses %}
              <th>GP</th>
              <th>LG</th>
          {% endfor %}
          <th>credit</th>
          <th>GPA</th>
          <th>LG</th>
          {% if semester_no > 1 %}
              <th class="">credit</th>
              <th class="">CGPA</th>
              <th class="">LG</th>
          {% endif %}
      </tr>
    </thead>
      <tbody>
        {% for tb_sheet in table_sheet %}
          <tr class="text-center">
              <td>{{tb_sheet.reg_no}}</td>
              <td>{{tb_sheet.name}}</td>

              {% for course, result in tb_sheet.course_results.items %} 
                  <td>{{result.GP}}</td>
                  <td>{{result.LG}}</td>
              {% endfor %} 

              {% for i in tb_sheet.range %}
                  <td></td>
              {% endfor %}
              
              <td>{{tb_sheet.current_semester_credits}}</td>
              <td>{{tb_sheet.current_semester_GPA}}</td>
              <td>{{tb_sheet.current_semester_LG}}</td>
              {% if semester_no > 1 %}
                  <th class="">{{tb_sheet.overall_credits}}</th>
                  <th class="">{{tb_sheet.overall_CGPA}}</th>
                  <th class="">{{tb_sheet.overall_LG}}</th>
              {% endif %}
          </tr> 
        {% endfor %}
    </tbody>
  </table>
</section>



<!-- add lab course result record modal starts -->
<div class="modal fade" id="AddCourseModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="AddCourseLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddCourseLabel">Add New Teacher</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" class="p-3"> {% csrf_token %}  
          <div class="form-group">
            <label class="form-label">Course Title</label>
            <input type="text" name="course_title" class="form-control">
          </div>
          <div class="form-group">
            <label class="form-label">Course Type</label>
            <input type="text" name="course_type" class="form-control">
          </div>
          <div class="form-group d-flex justify-content-between">
            <div>
              <label class="form-label">Course Code</label>
              <input type="text" name="course_code" class="form-control">
            </div>
            <div>
              <label class="form-label">Credits</label>
              <input type="text" name="course_credits" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="">Course Teacher</label>
            <select name="course_teacher_email" class="form-control">
              {% for teacher in teachers %}
                <option value={{teacher.email}}>{{teacher.name}} ({{teacher.designation}})</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary col-3 mt-2">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- add lab course result record modal ends -->

{% endblock %}


{% block js %}

<!-- **This js code section should be used in all pages that has a form in it** -->
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
<!-- **** -->

{% endblock %}