{% extends 'main/base.html' %}

{% block title %} {{semester_no}} ({{batch_no}}) {% endblock %}

{% block css %}

  
{% endblock %}

{% block body %}

<div class="container mx-auto pb-3">
    <!-- <div class="title flex flex-col justify-center items-center bg-indigo-500 py-5 rounded">
      <h1 class="text-4xl font-bold text-indigo-50">Batch 14th</h1>
      <p class="text-xl text-indigo-50 font-semibold">Semester : 1</p>
    </div> -->


    <div class="courses flex flex-col">

      <div class="courses-head flex justify-between py-3">
        <h2 class="text-2xl font-semibold text-indigo-500">Courses</h2>
        <button
            class="add-btn ml-auto bg-indigo-500 text-indigo-50 px-4 py-1 rounded hover:bg-indigo-600 duration-200"
          >
            + Add
          </button>
      </div>

      <div class="courses-card flex gap-10  flex-wrap bg-gray-100 p-3 rounded ">

        {% for course in courses %}
        <div
          class="course-card bg-white text-indigo-500 p-4 rounded shadow flex flex-col gap-5 items-center h-55 w-80 border-2 border-indigo-50/80 hover:shadow-lg hover:border-indigo-500 hover:border-2 duration-300"
        >
          <h2 class="course-title text-xl font-semibold">{{course.course_title}}</h2>
          <div class="code-type flex justify-between gap-3 text-sm font-medium text-gray-700">
            <p><span class="font-bold text-indigo-500">Code:</span> {{course.course_code}}</p>
            <p><span class="font-bold text-indigo-500">Type:</span> {{course.course_type}}</p>
            <p><span class="font-bold text-indigo-500">Credit:</span> {{course.course_credits}}</p>
          </div>
          <div class="creadit-teacher flex text-gray-700 font-medium ">
            <p><span class="font-bold text-indigo-500">Teacher:</span> {{course.course_teacher}}</p>
          </div>
          <div class="flex gap-12 justify-center items-center py-3 w-full">
            
            <button
              class="bg-indigo-50 border rounded-full px-2 hover:border-indigo-300"
            >
              Delete
            </button>
            <button
              class="bg-indigo-50 border rounded-full px-2 hover:border-indigo-300"
            >
              Edit
            </button>
            <a
              href="/main/courses/{{batch_no}}/{{semester_no}}/{{course.course_type}}/{{course.course_code}}" class="bg-indigo-50 border rounded-full px-2 hover:border-indigo-300"
            >
              View
            </a>
          </div>
        </div>
        {% endfor %}
        
      </div>
      </div>
    </div>

    <div class="tabulation-sheet container mx-auto">
      <div class="courses-head flex justify-between py-3">
        <h2 class="text-2xl font-bold text-indigo-500">Tabulation Sheet</h2>

        <div class="btns flex">
          <div class="upload-btn">
            <label class="block">
            <span class="sr-only">Chose File</span>
            <input type="file" accept=".csv"
              class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border file:border-indigo-100 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" />
            </label>
          </div>

          <a href="" class="add-btn ml-auto bg-indigo-500 text-indigo-50 px-4 py-1 rounded-full hover:bg-indigo-600 duration-200">Download</a>
        </div>
      </div>
    <table class="content-table">
        {% comment %} <tr>
          <th colspan="6" rowspan="2"></th>
          <th colspan="2">CSE-201 </th>
          <th colspan="2">CSE-201</th>
          <th colspan="2">CSE-201</th>
          <th colspan="2">CSE-201</th>
          <th colspan="2">CSE-201</th>
          <th colspan="2">CSE-201</th>
          <th colspan="2">CSE-201</th>
          <th colspan="2">CSE-201</th>
          <th colspan="2">CSE-201</th>
          <th colspan="3" rowspan="2">2nd Semester</th>
          <th colspan="3" rowspan="2">3rd Semester</th>
        </tr> {% endcomment %}
        <thead>
          <tr class="text-center">
            <th scope="col" rowspan="2">Sl no.</th>
              <th scope="col" rowspan="2">Reg no</th>
              <th scope="col" rowspan="2">Student Name</th>
              {% for course in courses %}
                  <th scope="col" colspan="2">{{course.course_code}} <br> ({{course.course_credits}})</th>
              {% endfor %}
              <th scope="col" colspan="3">Semester: {{semester_no}}</th>
              {% if semester_no > 1 %}
                  <th scope="col" colspan="3" class="bg-secondary text-light">Semester: 1 to {{semester_no}}</th>
              {% endif %}
          </tr>
          <tr class="text-center">
              {% for course in courses %}
                  <th>GP</th>
                  <th>LG</th>
              {% endfor %}
              <th>credit</th>
              <th>GPA</th>
              <th>LG</th>
              {% if semester_no > 1 %}
                  <th class="bg-secondary text-light">credit</th>
                  <th class="bg-secondary text-light">CGPA</th>
                  <th class="bg-secondary text-light">LG</th>
              {% endif %}
          </tr>
      </thead>
      <tbody>
        {% for tb_sheet in table_sheet %}
            <tr class="text-center">
                <td>{{tb_sheet.reg_no}}</td>
                <td>{{tb_sheet.name}}</td>

                {% for course, result in tb_sheet.course_results.items %} 
                    <td>{{result.GP}}</td>
                    <td>{{result.LG}}</td>
                {% endfor %} 

                {% for i in tb_sheet.range %}
                    <td></td>
                {% endfor %}
                
                <td>{{tb_sheet.current_semester_credits}}</td>
                <td>{{tb_sheet.current_semester_GPA}}</td>
                <td>{{tb_sheet.current_semester_LG}}</td>
                {% if semester_no > 1 %}
                    <th class="">{{tb_sheet.overall_credits}}</th>
                    <th class="">{{tb_sheet.overall_CGPA}}</th>
                    <th class="">{{tb_sheet.overall_LG}}</th>
                {% endif %}
            </tr> 
        {% endfor %}
      </tbody>
    </table>
    </div>

  </div>

{% endblock %}