{% extends 'main/base.html' %}

{% load static %}

{% block title %} Students({{batch_no}}) {% endblock %}

{% block css %}
{% endblock %}

{% block body %}

<!-- illustrator and details -->
<section class="text-with-img row">
  <div class="col-6 d-flex justify-content-end align-items-center">
    <div class="text-dark p-4 rounded illustrator-details shadow w-50 h-50 d-flex justify-content-center align-items-center">
      <div>
        <h4><b>Batch no:</b> {{batch_no}}</h4>
        <h4><b>Session:</b> {{session}}</h4>
      </div>
    </div>
  </div>
  <div class="col-6 d-flex justify-content-start align-items-center">
    <img src="{% static 'main/images/students-rafiki.png' %}" alt="students" class="illustrator-img">
  </div>
</section>


<!-- students info list -->
<section class="mx-2 mb-5 px-5 py-2">
  <div class="d-flex justify-content-center mt-5 mb-2">
    <h4 class="bg-primary text-center text-white p-3 rounded-pill col-2">Students Information</h4>
  </div>

  {% if request.user.is_superuser %}
    <div class="d-flex justify-content-end">
      <!-- add new student modal trigger -->
      <img src="{% static 'main/images/plus.png' %}" alt="add-student" class="plus-btn mb-2" type="button" data-toggle="modal" data-target="#AddStudentModal">
    </div>
  {% endif %}

  <table class="table table-hover bg-light">
      <thead>
        <tr class="text-center">
          <th scope="col">Registration</th>
          <th scope="col">Session</th>
          <th scope="col">Name</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Mother's Name</th>
          <th scope="col">Address</th>
          <th scope="col">Phone</th>
          <th scope="col">Remarks</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
          {% for student in students %}
          <tr class="text-center">
              <td>
                {{student.reg_no}} 
                {% if student.isResidential %}<span class="badge badge-info">Residential</span>{% endif %} 
                {% if student.isCR %}<span class="badge badge-danger text-white">CR</span>{% endif %}
              </td>
              <td>{{student.session}}</td>
              <td>{{student.name}}</td>
              <td>{{student.father_name}}</td>
              <td>{{student.mother_name}}</td>
              <td>{{student.address}}</td>
              <td>{{student.phone}}</td>
              <td>{{student.remarks}}</td>
              <td>
                <a class="mx-2" href="/main/update_student/{{batch_no}}/{{student.reg_no}}">
                  <img src="{% static 'main/images/edit.png' %}" alt="edit" class="table-icon" type="button">
                </a>
                <a class="mx-2" href="/main/delete_student/{{batch_no}}/{{student.reg_no}}">
                  <img src="{% static 'main/images/delete1.png' %}" alt="delete" class="table-icon" type="button">
                </a>
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
</section>



<!-- add new student modal starts -->
<div class="modal fade" id="AddStudentModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="AddStudentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddStudentLabel">Add New Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" class="p-3"> {% csrf_token %}  
          <div class="form-group d-flex justify-content-between">
            <div>
              <label class="form-label">Registration No</label>
              <input type="text" name="reg_no" class="form-control">
            </div>
            <div>
              <label class="form-label">Name</label>
              <input type="text" name="name" class="form-control">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div>
              <label class="form-label">Father's Name</label>
              <input type="text" name="father_name" class="form-control">
            </div>
            <div>
              <label class="form-label">Mother's Name</label>
              <input type="text" name="mother_name" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">Address</label>
            <input type="text" name="address" class="form-control">
          </div>
          <div class="form-group">
            <label class="form-label">Phone</label>
            <input type="text" name="phone" class="form-control">
          </div>
          <div class="form-group">
            <label class="form-label">Remarks</label>
            <textarea name="remarks" cols="10" rows="5" class="form-control"></textarea>
          </div>
          <div class="form-group d-flex justify-content-around">
            <div>
              <input type="checkbox" name="is_cr" value="yes">
              <label for="is_cr" class="form-label">Class Representative</label>
            </div>
            <div>
              <input type="checkbox" name="is_residential" value="yes">
              <label for="is_residential" class="form-label">Residential</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary col-3 mt-2">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- add new student modal ends -->

{% endblock %}