{% extends 'main/base.html' %}

{% block title %} Students of {{batch_no}} {% endblock %}

{% block css %}
.content-table {
    border-collapse: collapse;
    min-width: 1535px;
  }
  table,
  tr,
  th,
  td {
    border: 1px solid gray;
    text-align: center;
  }
{% endblock %}

{% block body %}

<!-- modal -->
    <!-- Code block starts -->
    <dh-component>
        <div
          class="py-60 bg-gray-700/80 transition duration-300 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0"
          id="AddStudentModal"
        >
          <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
            <div
              class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400"
            >
                <label
                    for="reg_no"
                    class="text-gray-800 text-sm font-bold leading-tight tracking-normal"
                >Registration no</label
                >
                <input
                    id="reg_no"
                    class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
                    placeholder=""
                />
                <label
                    for="name"
                    class="text-gray-800 text-sm font-bold leading-tight tracking-normal"
                >Name</label
                >
                <input
                    id="name"
                    class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
                    placeholder=""
                />
                <label
                    for="father_name"
                    class="text-gray-800 text-sm font-bold leading-tight tracking-normal"
                >Father's Name</label
                >
                <input
                    id="father_name"
                    class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
                    placeholder=""
                />
                <label
                    for="mother_name"
                    class="text-gray-800 text-sm font-bold leading-tight tracking-normal"
                >Mother's Name</label
                >
                <input
                    id="mother_name"
                    class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
                    placeholder=""
                />
                <label
                    for="address"
                    class="text-gray-800 text-sm font-bold leading-tight tracking-normal"
                >Address</label
                >
                <input
                    id="address"
                    class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
                    placeholder=""
                />
                <label
                    for="phone"
                    class="text-gray-800 text-sm font-bold leading-tight tracking-normal"
                >Phone</label
                >
                <input
                    id="phone"
                    class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
                    placeholder=""
                />
                <div class="flex items-center mb-4">
                    <input id="is_cr" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="default-checkbox" class="ml-1 mr-5 text-sm font-medium text-gray-900 dark:text-gray-600">Class Representative</label>
                    <input id="is_residential" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="default-checkbox" class="ml-1 mr-5 text-sm font-medium text-gray-900 dark:text-gray-600">Residential</label>
                </div>
                <label
                    for="remarks"
                    class="text-gray-800 text-sm font-bold leading-tight tracking-normal"
                >Remarks</label>
                <textarea 
                    id="remarks" rows="4" 
                    class="block mt-2 mb-4 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-300 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="">
                </textarea>

              
              <div class="flex items-center justify-start w-full">
                <form action="" method="POST"> {% csrf_token %}
                  <input type="hidden" name="form_name" value="add_student_form">
                  <button
                    class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-8 py-2 text-sm"
                    type="submit"
                  >
                  Add
                  </button>
                </form>
                <button
                  class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 ml-3 bg-gray-100 transition duration-150 text-gray-600 ease-in-out hover:border-gray-400 hover:bg-gray-300 border rounded px-8 py-2 text-sm"
                  onclick="modalHandler()"
                >
                  Cancel
                </button>
              </div>
              <button
                class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out rounded focus:ring-2 focus:outline-none focus:ring-gray-600"
                onclick="modalHandler()"
                aria-label="close modal"
                role="button"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-x"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" />
                  <line x1="18" y1="6" x2="6" y2="18" />
                  <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="w-full flex justify-center py-12" id="button"></div>
      </dh-component>
      <!-- Code block ends -->

<div class="container mx-auto">
    <div
      class="info text-center p-3 items-center bg-gray-200 my-5 rounded"
    >
      <div class="info-text-center items-start">
        <h3 class="text-4xl font-bold text-indigo-500">{{batch_no}} ({{session}})</h3>
      </div>
    </div>


<div class="tabulation-sheet container mx-auto">
      <div class="courses-head flex justify-between py-3">
        <h2 class="text-2xl font-bold text-indigo-500">Student Informations</h2>

        <div class="btns flex gap-3">
          <div class="upload-btn">
            <label class="block">
            <span class="sr-only">Choose File</span>
            <input type="file" accept=".csv"
              class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border file:border-indigo-100 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" />
            </label>
          </div>

          <!-- <button class="add-btn ml-auto bg-indigo-500 text-indigo-50 px-4 py-1 rounded-full hover:bg-indigo-600 duration-200">Add</button> -->
          <button
              class="add-btn ml-auto bg-indigo-500 text-indigo-50 px-4 py-1 rounded hover:bg-indigo-600 duration-200"
              onclick="modalHandler(true)">
              + Add
          </button>
          <!-- <button class="add-btn ml-auto bg-indigo-500 text-indigo-50 px-4 py-1 rounded-full hover:bg-indigo-600 duration-200">Edit</button>
          <button class="add-btn ml-auto bg-indigo-200 text-indigo-700 px-4 py-1 rounded-full border border-indigo-500 hover:text-indigo-50 hover:bg-indigo-600 duration-200">Delete</button> -->
        </div>
      </div>

    <!-- results table  -->
    <table class="content-table py-3">
      <tr>
        <th>SL</th>
        <th>Reg.</th>
        <th>Name</th>
        <th>Father's Name</th>
        <th>Mother's Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Average CGPA</th>
        <th>Remarks</th>
        <th>Action</th>
      </tr>

      {% for student in students %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{student.reg_no}}</td>
        <td >{{student.name}}</td>
        <td>{{student.father_name}}</td>
        <td>{{student.mother_name}}</td>
        <td>{{student.address}}</td>
        <td>{{student.phone}}</td>
        <td></td>
        <td></td>
        <td>
            <div class="button flex gap-3 items-center justify-center text-xl"> 
              <button class="edit hover:text-indigo-500 duration-200" ><ion-icon name="create-outline"></ion-icon>
              </button>
              <button class="delete hover:text-indigo-500 duration-200" ><ion-icon name="trash-outline"></ion-icon>
              </button>
            </div>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>


  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

{% endblock %}


{% block js %}

<script>
  let modal = document.getElementById("AddStudentModal");
  function modalHandler(val) {
    if (val) {
      fadeIn(modal);
    } else {
      fadeOut(modal);
    }
  }
  function fadeOut(el) {
    el.style.opacity = 1;
    (function fade() {
      if ((el.style.opacity -= 0.1) < 0) {
        el.style.display = "none";
      } else {
        requestAnimationFrame(fade);
      }
    })();
  }
  function fadeIn(el, display) {
    el.style.opacity = 0;
    el.style.display = display || "flex";
    (function fade() {
      let val = parseFloat(el.style.opacity);
      if (!((val += 0.2) > 1)) {
        el.style.opacity = val;
        requestAnimationFrame(fade);
      }
    })();
  }
</script>

{% endblock %}